{% extends 'base.html'%}

{% block head %} 
    <title>Details</title>
{% endblock %}


{% block body %}
    <h1>All details</h1>

    <hr>
    <h2>Enroll New Student</h2>
    <form action="/details" method="POST">
        Name: <input type="text" name="name" id="name">
        <br>
        Roll No: <input type="number" name="roll_no" id="roll_no" required>
        <br>
        Phone: <input type="number" name="phone" id="phone">
        <br>
        <input type="submit" value="Enroll">
    </form>
    <hr>

    {%for detail in details%}
        <h2>Name: {{detail.name}}</h2>
        <p>Roll no.: {{detail.roll_no}}</p>
        {%if detail.phone%}
            <p>Phone: {{detail.phone}}</p>
        {%else%}
            <p>Phone: N/A</p>
        {%endif%}
        <a href="/details/delete/{{detail.id}}">Delete</a>
        <a href="/details/edit/{{detail.id}}">Edit</a>
        <hr>
    {%endfor%}
{% endblock %}