{% extends 'base.html'%}

{% block head %} 
    <title>Details</title>
{% endblock %}


{% block body %}
    <h2>Enroll New Student</h2>
    <br>
    <form class="form my-2 my-md-0" action="/details" method="POST">
        <label for="name">Name:</label>  
        <input class="form-control" type="text" name="name" id="name" placeholder="Enter Name" aria-label="Enter Name" required>
        <label for="roll_no">Roll No:</label> 
        <input class="form-control" type="text" name="roll_no" id="roll_no"  placeholder="Enter Roll No" aria-label="Enter Roll No" required>
        <label for="phone">Phone:</label> 
        <input class="form-control" type="text" name="phone" id="phone" placeholder="Enter Phone" aria-label="Enter Phone">
        <br>
        <input class="btn btn-success" type="submit" value="Enroll">
    </form>
    <hr>
    <h2>All details</h2>
    <hr>

    {%for detail in details%}
        <big>Name: {{detail.name}}</big>
        <br>
        <small>Roll no.: {{detail.roll_no}} </small>
        <br>
        {%if detail.phone%}
            <small>Phone: {{detail.phone}}</small> 
        {%else%}
            <small>Phone: N/A</small> 
        {%endif%}
        <br>
        <a class="btn btn-danger btn-sm" href="/details/delete/{{detail.id}}">Delete</a>
        <a class= "btn btn-warning btn-sm" href="/details/edit/{{detail.id}}">Edit</a>
        <hr>
    {%endfor%}
{% endblock %}