{% extends 'base.html'%}

{% block head %} 
    <title>Home</title>
{% endblock %}

{% block body %}
    <br>
    <h1>Student Enrollment Software</h1>
    <br>
    <br>
    <main role="main">
        <div class="jumbotron">
          <div class="col-sm-8 mx-auto">
            <h1>Welcome</h1>
            <p>In this software you can store the information of the students in database. Also you can edit or delete one's information based on your need.</p>
            <p>Just click on the button below to give started.</p>
            <p>
              <a class="btn btn-primary" href="/details" role="button">Lets Go &raquo;</a>
            </p>
          </div>
        </div>
      </main>
{% endblock %}